# # Go to Infura and get your Ethereum API key, then copy and paste the URL for each chain's endpoint here
VITE_MAINNET_RPC_URL=YOUR_URL_HERE
VITE_POLYGON_RPC_URL=YOUR_URL_HERE
VITE_BASE_RPC_URL=YOUR_URL_HERE

# Sign up to WalletConnect, get a Project ID and paste it here
VITE_PROJECT_ID=